.container-linkicon {
  max-width: 100%;
}
.main-link-icon {
  max-width: 90%;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.main-link-icon .box {
  display: flex;
  justify-content: center;
}
.box .icon-box {
  display: flex;
  height: 100%;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
