.btn {
  padding: 12px 180px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  background-color: rgb(104, 104, 238);
  color: white;
}
.btn:hover {
  background-color: rgb(115, 172, 238);
}
