.container-inputcreate {
  max-width: 100%;
  background-color: white;
}
.inputtt {
  display: flex;
  flex-direction: column;
}
.input-create {
  width: 20rem;
  padding: 10px;
  outline: none;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.teaxtareA {
  outline: none;
  border: 1px solid #010100;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.box-inputcreate {
  width: 70%;
  margin: auto;
}
.button-input {
  padding: 8px 16px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  background-color: aqua;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
}
.button-input:hover {
  background-color: rgb(108, 216, 133);
  color: #fff;
}
.label-input {
  font-size: 13px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
